body{
    box-sizing: border-box;
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }

    h1 {
        font-weight: 700;
    }

    

.hero_image {
height: 1200px;
width: 100%;

background-image: url("img/bg.png");
background-size: cover;
background-repeat: no-repeat;

}
